
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body{
    font-family: 'Lato';
}

footer{
    font-size: 10px;
}

a:hover{
    text-decoration: none;
}

h2{
    font-size: 22px;
}

.client-form{
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.topbar{
    background-color: #e4dddd;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2px;
}

.date-form{
    display:inline-block;
    width:10%;
}

.tab-main{
    margin:0;
    padding: 10px;
}

.active-tab{
    background-color: gainsboro;
}